.tag-container {
  text-transform: lowercase;
  padding: 0 7px;
  background-color: transparent;
  color: #558b2f;
  overflow: hidden;
  word-wrap: break-word;
}
.tag-container:hover {
  background-color: #f7e9c4;
  font-weight: bold;
  text-decoration: none;
}
/* .tag-container:hover {
  animation-name: bonuce;
  animation-timing-function: ease;
  animation-duration: 300ms;
  animation-iteration-count: 2;
  background-color: #ffffff;
} */
@keyframes bonuce {
  0% {
    transform: scale(1.5, 1.5);
  }
  15% {
    transform: scale(1.3, 1.3);
  }
  30% {
    transform: scale(1.1, 1.1);
  }
  45% {
    transform: scale(1.05, 1.05);
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  90% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1.6, 1.6);
  }
}
.tag-count {
  font-weight: bold;
  font-size: 1.15em;
  color: rgb(250, 159, 159);
}
.header-desc {
  padding: 7em;
}
.tag-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.post-tag:first-child {
  margin-left: 0px;
}
.post-tag {
  margin-left: 5px;
}
.post-tag a {
  text-decoration: none;
  margin-left: 0px;
  border-radius: 12px;
  color: rgb(250, 159, 159);
  border-color: rgb(250, 159, 159);
}
.post-tag a:hover {
  color: #fff;
  background-color: rgb(250, 159, 159);
}
.read-more-container {
  display: flex;
  flex-direction: column;
}
.read-more-container > a {
  font-size: 1.5rem;
}

/* rwd for mobile devices */
@media (min-width: 320px) and (max-width: 736px) {
  article.list .summary {
    display: none;
  }
}
figure.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
figure.preview > img {
  max-width: 100%;
  height: auto;
}

figcaption {
  color: rgba(117, 117, 117, 1);
}

.day-night-switch {
  left: 15px;
  z-index: 10;
  position: fixed;
  bottom: 15px;
}
.theme-toggle[type='checkbox'] {
  height: 0;
  width: 0;
  border: none;
  outline: 0;
  visibility: hidden;
}
.theme-toggle[type='checkbox']:checked + .theme-toggle-label::before {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 2px -2px 0 1px #fff;
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.theme-toggle[type='checkbox']:checked + .theme-toggle-label {
  border-color: #fff;
}
.theme-toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 20px;
  margin-bottom: 0;
  line-height: 20px;
  border: 2px solid #fda403;
  border-radius: 10px;
  position: relative;
}
.theme-toggle-label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: 0 0;
  border-radius: 100%;
  background: #fda403;
  box-shadow: none;
  transition: 0.4s;
  transform: rotate(480deg);
}

body.dark {
  background-color: #000;
}
.dark .summary {
  color: #fff;
}
.dark #container-tags-title {
  color: #fff;
}
.dark div.delimiter {
  border-bottom: 1px solid #717070;
}
.dark article > section {
  color: #fff;
}
.dark .taxonomy-terms {
  color: #fff;
}
.dark .copyright-note {
  color: #fff;
}
.dark .global-footer .sns-links a {
  color: #fff;
  border: 1px solid #fff;
}
.dark main.container > .article-list h1 {
  color: #fff;
}
