.tag-container {
  text-transform: lowercase;
  width: auto;
  min-height: 34px;
  padding: 2px 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  line-height: 1.6;
  background-color: transparent;
  color: #558b2f;
  border-radius: 1px;
  overflow: hidden;
  word-wrap: break-word;
}
.tag-container:hover {
  animation-name: bonuce;
  animation-timing-function: ease;
  animation-duration: 300ms;
  animation-iteration-count: 2;
  background-color: #ffffff;
}
@keyframes bonuce {
  0% {
    transform: scale(1.5, 1.5);
  }
  15% {
    transform: scale(1.3, 1.3);
  }
  30% {
    transform: scale(1.1, 1.1);
  }
  45% {
    transform: scale(1.05, 1.05);
  }
  60% {
    transform: scale(1.1, 1.1);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  90% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1.6, 1.6);
  }
}
.tag-count {
  font-weight: bold;
  font-size: 1.15em;
  color: rgb(250, 159, 159);
}
.header-desc {
  padding: 7em;
}
.tag-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.post-tag a {
  border: 1px solid #558b2f;
  color: #558b2f;
}

.read-more-container {
    display: flex;
    flex-direction: column;
}
